<div class="row">
    <aside class="col-sm-4">
        <%= @user.name %> さんの詳細
    </aside>
    <div class="col-sm-8">
        <ul class="nav nav-tabs nav-justified mb-3">
            <li class="nav-item"><a href="#" class="nav-link">コメント一覧</a></li>
            <li class="nav-item"><a href="#" class="nav-link">いいね一覧</a></li>
            <li class="nav-item"><a href="#" class="nav-link">立てた掲題一覧</a></li>
        </ul>
    </div>
</div>