<div class="center jumbotron">
    <div class="text-center">
        <h1>DisucussionBoard</h1>
    </dib>
</div>        
<% if @subjects.any? %>
    <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">id</th>
            <th class="text-left">タイトル</th>
          </tr>
        </thead>
        <tbody>
          <% @subjects.each do |subject| %>
             <tr>
                <td class="text-center"><%= link_to subject.id, subject %></td>
                <td class="text-left"><%= link_to subject.content, subject %></td>
             </tr>
          <% end %>    
        </tbody>
    </table>
    <div>
        <%= paginate @subjects %>  
    </div>
<% end %>

